# Logs
logs
*.Logs
# Compiled directory and file
build/
bundle.js
# Dependency directories
node_modules/

yarn-error.log*

# Environment variables (contains API keys)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local